<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<title>Bulletin Board</title>
</head>
<body>
  <!-- メインコンテンツここから -->
  <div th:fragment="genreFragment" class="container">
    <div class="row vh-100 mt-5 mt-md-0 align-items-md-center justify-content-md-center">
      <div class="jumbotron" style="max-width: 600px;">
        <h1 class="mb-4 display-2 text-center" th:text="${'Various Genres'}"></h1>
        <p class="lead text-center" th:text="${'ジャンル一覧'}"></p>
        <div class="row mb-4">
          <div class="col-6 col-md-4" th:each="genre : ${genreList}">
            <div class="mb-3">
              <a th:href="@{/thread/showThread/__${genre.genreId}__(page = 0)}">
                <span class="w-100 btn btn-primary rounded-pill" th:text="${genre.genreTitle}"></span>
              </a>
              <div class="text-center" sec:authorize="hasRole('ADMIN')">
                <!-- th:dataでモーダルに必要なパラメータを渡す -->
                <!-- クリックするとモーダル(削除内容の確認)を表示 -->
                <button class="btn btn-link"  type="button" id="modalButton"
                        th:data-title="${genre.genreTitle}" 
                        th:data-genreid="${genre.genreId}" 
                        data-bs-toggle="modal" 
                        data-bs-target="#fadeModal" th:text="${'※削除する'}"></button>
              </div>
            </div>
          </div>
        </div>
        <!-- ADMIN権限を持つユーザーのみ表示 -->
        <div class="text-center" sec:authorize="hasRole('ADMIN')">
          <a class="btn btn-outline-primary rounded-pill" th:href="@{/genre/toGenreForm}" th:text="${'ジャンルの追加'}"></a>
        </div>
        <div class="mt-3 text-center">
          <a class="btn btn-link" th:href="@{/TopPage}" th:text="${'Topページへ戻る'}"></a>
        </div>
        <!-- メインコンテンツここまで -->
        <!-- モーダルここから -->
        <div class="modal fade" id="fadeModal" tabindex="-1" aria-labelledby="fadeModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" th:text="${'削除内容の確認'}"></h5>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-Label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-4">
                    <p class="text-center" th:text="${'ジャンル名'}"></p>
                  </div>
                  <div class="col-8">
                    <div id="modalTitle"></div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="${'閉じる'}"></button>
                <a class="btn btn-primary" id="modalDelete" th:href="@{/genre/delete/}" th:text="${'OK'}"></a>
              </div>
            </div> 
          </div>
        </div>
        <!-- モーダルここまで -->
      </div>
    </div>
  </div>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>






