<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<title>Bulletin Board</title>
</head>
<body>
  <!-- メインコンテンツここから -->
  <div th:fragment="replyFragment" class="container">
    <div class="row mt-0 mt-md-5 align-items-center justify-content-center">
      <div class="card" style="max-width: 600px;">
        <div class="card-header">
          <p class="mb-1 text-center" th:text="${'返信一覧'}"></p>
        </div>
        <div class="card-body">
          <p class="card-text">
            <span th:text="${posting.postingNo + '.'}" ></span>
            <span th:text="${posting.name}" ></span>
            <!-- ADMIN権限を持つユーザーのみusernameを表示 -->
            <span style="color: red;" sec:authorize="hasRole('ADMIN')" th:text="${'*' + posting.username}"></span>
            <span th:text="${posting.writingTime}" ></span>
          </p>
          <p class="card-text">
            <span th:text="${posting.message}" ></span>
          </p>
          <p class="card-text">
          <!-- コメントの投稿件数が制限に達した場合に表示 -->
            <span>
              <a th:if="${posting.numberOfReply <= maxNumberOfReply - 1}" class="badge bg-secondary text-white" th:href="@{/reply/toReplyForm/__${posting.postingId}__}" th:text="${'コメントする'}"></a>
              <span th:if="${posting.numberOfReply > maxNumberOfReply - 1}" class="badge bg-danger text-white" th:text="${'これ以上コメントできません'}"></span>
            </span>
          </p>
        </div>
        <div th:each="reply : ${replyList}" th:class="${reply.replyNo == replyNoBySearch} ? 'card mb-3 border-danger' : 'card mb-3'">
          <div class="card-body">
            <div class="row">
              <div class="col-2">
                <span th:text="${'Re:'}"></span>
              </div>
              <div class="col-10">
                <p class="card-text">
                  <span th:text="${reply.replyNo + '.'}"></span>
                  <span th:text="${reply.name}"></span>
                  <!-- ADMIN権限を持つユーザーのみusernameを表示 -->
                  <span th:if="${reply.name != '削除済み'}" style="color: red;" sec:authorize="hasRole('ADMIN')" th:text="${'*' + reply.username}"></span>
                  <span th:text="${reply.replyTime}"></span>
                  <span th:if="${reply.name != '削除済み'}">
                    <!-- ADMIN権限を持つユーザのみ表示 -->
                    <!-- th:dataでjsファイルに必要な値を渡す -->
                    <!-- クリックするとモーダル(削除内容の確認)を表示 -->
                    <button sec:authorize="hasRole('ADMIN')" id="modalButton" class="btn btn-link btn-sm" type="button"
                       th:data-replyid="${reply.replyId}"
                       th:data-postingid="${posting.postingId}"
                       th:data-no="${reply.replyNo + '.'}"
                       th:data-name="${reply.name}"
                       th:data-time="${reply.replyTime}"
                       th:data-message="${reply.replyMessage}"
                       data-bs-target="#fadeModal" data-bs-toggle="modal" th:text="${'※削除'}"></button>
                  </span>
                </p>
                <p class="card-text">
                  <span th:text="${reply.replyMessage}"></span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- モーダルここから -->
        <div class="modal fade" id="fadeModal" tabindex="-1" aria-labelledby="fadeModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" th:text="${'削除内容の確認'}"></h5>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-Label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="text-left">
                    <span id="modalNo"></span>
                    <span id="modalName"></span>
                    <span id="modalTime"></span>
                  </div>
                  <div class="text-left">
                    <span id="modalMessage"></span>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="${'閉じる'}"></button>
                <a class="btn btn-primary" id="modalDelete" th:href="@{/reply/update/}" th:text="${'OK'}"></a>
              </div>
            </div> 
          </div>
        </div>
        <!-- モーダルここまで -->
      </div>
      <div class="mt-4 mb-5 text-center">
        <span>
          <a th:href="@{/posting/showPosting/__${posting.threadId}__}" th:text="${'戻る'}"></a>
        </span>
        <!-- ADMIN権限を持つユーザーのみ表示 -->
        <span sec:authorize="hasRole('ADMIN')">
          <a th:href="@{/toManagement}"th:text="${'管理画面へ戻る'}"></a>
        </span>
        <div class="mt-3 text-center">
          <a class="btn btn-link" th:href="@{/TopPage}" th:text="${'Topページへ戻る'}"></a>
        </div>
      </div>
    </div>
  </div>
  <!-- メインコンテンツここまで -->
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>








