<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<title>Bulletin Board</title>
</head>
<body>
  <!-- 会員情報ここから -->
  <!-- コントローラーから渡されたパラメータで表示を切り替える -->
  <div th:fragment="userInfo" th:class="${userInfo == 'userInfo'} and ${ngWord != 'ngWord'} and ${inquiry != 'inquiry'} ? 'tab-pane fade show active' : 'tab-pane fade'" id="nav-item3" role="tabpanel"
       aria-labelledby="nav-item3-tab">
    <!-- 検索フォームここから -->
    <form class="input-group mt-3 mb-1" th:action="@{/URL}" method="post">
      <input class="form-control" id="searchForm" type="text" name="username" th:value="${username}" placeholder="ユーザー名を入力してください">
      <div class="input-group-append">
        <!-- th:dataからjsファイルへ必要な値を渡す -->
        <button id="searchUsername" th:data-currentpage="${0}"
                type="submit" class="input-group-text" th:text="${'検索'}"></button>
      </div> 
    </form>
    <!-- 検索フォームここまで -->
    <div class="mt-2 text-center">
      <!-- 空の値が入力されたときメッセージを表示 -->
      <div th:if="${isBlank == true}" th:text="${'※ユーザー名を入力してください'}" th:class="red"></div>
    </div>
    <div class="row">
      <div class="col-4">
        <!-- クリックすると画面を更新 -->
        <a class="w-100 btn btn-outline-primary rounded-pill btn-sm mt-2" id="toUserInfo" th:data-currentpage="${0}" th:text="${'更新'}"></a>
      </div>
      <div class="col-8">
        <!-- クリックすると３カ月間書き込みのないユーザーを表示 -->
        <!-- th:dataでjsファイルに必要な値を渡す -->
        <a class="w-100 btn btn-outline-primary rounded-pill btn-sm mt-2" id="showUserInfo"
           th:data-ghostuser="${'GhostUser'}" th:data-currentpage="${0}" 
           th:text="${'３カ月間書き込みのないユーザーを表示する'}"></a>
      </div>
    </div>
    <!-- 条件に一致するユーザーが存在しない場合はメッセージを表示 -->
    <h5 class="alert alert-danger text-center mt-2" th:if="${pageInfoAboutUserInfo.total == 0 and isBlank != true}" th:text="${'見つかりませんでした'}"></h5>
    <div th:if="${pageInfoAboutUserInfo.total != 0}" class="table-responsive">
      <table class="table table-bordered text-nowrap mt-3">
        <thead class="table-primary">
          <tr>
            <th style="width: 30%">username</th>
            <th style="width: 15%">gender</th>
            <th style="width: 15%">role</th>
            <th style="width: 30%">last writing time</th>
            <th style="width: 15%"></th>
          </tr>
         </thead>
        <tbody>
          <tr th:each="userInfo : ${userInfoList}">
            <td th:text="${userInfo.username}"></td>
            <td th:text="${userInfo.gender}"></td>
            <td th:text="${userInfo.role}"></td>
            <td th:text="${userInfo.lastWritingTime}"></td>
            <td>
              <!-- クリックすると削除 -->
              <!-- th:dataでjsファイルに必要な情報を渡す -->
              <a id="deleteUserInfo" class="btn btn-link"
                 th:data-id="${userInfo.userId}" th:data-currentpage="${pageInfoAboutUserInfo.currentpage}" th:data-ghostuser="${GhostUser}"
                 th:href="@{/URL}" th:text="${'削除する'}"></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- ページネーションここから -->
    <!-- ページングの必要がなければ表示しない -->
    <!-- th:dataでページングに必要な情報をjsファイルに渡す -->
    <nav th:if="${pageInfoAboutUserInfo.total != 0 and pageInfoAboutUserInfo.totalpage > 1}" aria-label="page navigation" class="mt-3">
      <ul class="pagination justify-content-center">
        <li th:class="${pageInfoAboutUserInfo.isFirst == true} ? 'page-item disabled' : 'page-item'">
          <a id="showUserInfo" class="page-link"
             th:data-currentpage="${pageInfoAboutUserInfo.currentpage - 1}"
             th:data-ghostuser="${GhostUser}"
             th:href="@{/URL}">←前</a>
        </li>
        <li th:each="i : ${#numbers.sequence(pageInfoAboutUserInfo.currentpage - 2 < 0 ? 0 : pageInfoAboutUserInfo.currentpage - 2,
                     pageInfoAboutUserInfo.currentpage + 2 > pageInfoAboutUserInfo.totalpage -1 ? pageInfoAboutUserInfo.totalpage - 1 : pageInfoAboutUserInfo.currentpage + 2)}"
            th:class="${i == pageInfoAboutUserInfo.currentpage} ? 'page-item active' : 'page-item'">
          <a id="showUserInfo" class="page-link"
             th:data-currentpage="${i}"
             th:data-ghostuser="${GhostUser}"
             th:href="@{/URL}" th:text="${i + 1}"></a>
        </li>
        <li th:class="${pageInfoAboutUserInfo.isLast == true} ? 'page-item disabled' : 'page-item'">
          <a id="showUserInfo" class="page-link" 
             th:data-currentpage="${pageInfoAboutUserInfo.currentpage + 1}" 
             th:data-ghostuser="${GhostUser}"
             th:href="@{/URL}">次→</a>
        </li>
      </ul>
    </nav>
    <!-- ページネーションここまで -->
  </div>
  <!-- 会員情報ここまで -->
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>






