<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<title>Bulletin Board</title>
</head>
<body>
  <div th:replace="~{fragments/ReplyFragment :: replyFragment}"></div>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
<script th:src="@{/js/modal_reply.js}"></script>
<script th:src="@{/js/ajax/delete.js}"></script>
</html>








